<div class="container">
    <div class="row">
        <div class="card text-center card-body cardStyling" (click)="onDirect('tickets')">
            <div class="container containerStyling" >
                <p class="card-text cardTextStyling">
                    Tickets
                </p>
                <img class="card-img-top cardImageStyling" src="../../../assets/img/tickets.png" alt="Tickets" />
            </div>
        </div>
        <div class="card text-center card-body cardStyling" (click)="onDirect('document')">
            <div class="container containerStyling" >
                <p class="card-text cardTextStyling">
                    Document Management
                </p>
                <img class="card-img-top cardImageStyling" src="../../../assets/img/documentManagement.png" alt="Document Management" />
            </div>
        </div>
        <div class="card text-center card-body cardStyling" (click)="onDirect('knowledge')">
            <div class="container containerStyling" >
                <p class="card-text cardTextStyling">
                    Knowledge Base
                </p>
                <img class="card-img-top cardImageStyling" src="../../../assets/img/knowledgeBase.png" alt="Knowledge Base" />
            </div>
        </div>
    </div>
    <div class="row spacing">
        <div class="card text-center card-body cardStyling" (click)="onDirect('reports')">
            <div class="container containerStyling" >
                <p class="card-text cardTextStyling">
                    Reports
                </p>
                <img class="card-img-top cardImageStyling" src="../../../assets/img/reports.png" alt="Reports" />
            </div>
        </div>
        <div class="card text-center card-body cardStyling" (click)="onDirect('customers')">
            <div class="container containerStyling" >
                <p class="card-text cardTextStyling">
                    Customers
                </p>
                <img class="card-img-top cardImageStyling" src="../../../assets/img/customers.png" alt="Customers" />
            </div>
        </div>
        <div class="card text-center card-body cardStyling" (click)="onDirect('users')">
            <div class="container containerStyling" >
                <p class="card-text cardTextStyling">
                    Users
                </p>
                <img class="card-img-top cardImageStyling" src="../../../assets/img/users.png" alt="Users" />
            </div>
        </div>
    </div>
</div>
